.articles-wrapper {
  flex-basis: 250px;
  flex-grow: 3;
  margin: 20px 40px 20px 40px;
}

.article {
  margin-bottom: 60px;
}


h2 a {
  margin-left: 40px;
}

img {
  max-width: 95%;
  margin-left: 15px;
}

.author a {
  margin-left: 80px;
  font-size: 14px;
}

.author:after,
h2:after {
  content: '';
  display: block;
  width: 250px;
  border-top: 1px solid #e5e5e5;
  margin: 5px 0 0 20px;
}

.author:after {
  width: 150px;
  margin-left: 45px;
}

