<!DOCTYPE html>
<html lang="zxx" ng-app="blogApp">
  <head>
    <meta charset="UTF-8">
    <title>Test Blog</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="articles.css">
    <link rel="stylesheet" href="sidebar.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="sidebar.js"></script>
  </head>
  <body ng-controller="BlogController as blog">
    <div class="page-wrapper">
      <nav>
        <ul class="navbar">
          <li class="button">
            <div></div>
            <div></div>
            <div></div>
          </li>
          <li><a href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
          <li class="about"><a href="#">About</a></li>
        </ul>
        <div class="toggle">
         <div class="sidebar" ng-include="'sidebar.html'"></div>
        </div>
      </nav>
      <div class="container">
        <div class="articles-wrapper">
         <div class="article" ng-repeat="article in blog.articles">
            <h2>
              <a href="#">{{article.title}}</a>
            </h2>

            <p class="author">
              <a href="https://en.wikipedia.org/wiki/Cicero" target="blank">by {{article.author}}</a>
            </p>

            <p class="image">
              <img class="image" ng-src="{{article.img}}" alt="Image Missing">
            </p>

            <div class="article-body">
              {{article.body}}
            </div>
            <section>
              <input id="{{article.id}}" type="checkbox">
              <label for="{{article.id}}">Comments:</label>
              <div class="comments-wrapper">
                <form class="comments-form" name="commentsForm" ng-controller="CommentsController as commentsCtrl" ng-submit="commentsForm.$valid && commentsCtrl.addComment(article)" novalidate>
                  <textarea ng-model="commentsCtrl.comment.body" class="comment-body" placeholder="Write a comment" required></textarea><br>
                  <input ng-model="commentsCtrl.comment.username" type="text" class="comment-user" placeholder="Username" required>
                  <input type="submit" value="Submit">
                </form>
                <div class="comments-list">
                  <div class="comments" ng-repeat="comment in article.comments">
                    <p><b>{{comment.username}}:</b> <i>"{{comment.body}}"</i></p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="sidebar-wrapper">
          <div class="fixed-sidebar" ng-include="'sidebar.html'">

          </div>
        </div>
      </div>
      <footer>
        <p>Created by Someone</p>
        <p>Email: <a href="#noop">someone@example.com</a> | Phone: +000111222333</p>
      </footer>
    </div>
  </body>
</html>
