.sidebar-wrapper {
  margin-bottom: auto;
  flex-basis: 220px;
  flex-grow: 1;
  margin: 0 25px 0 20px;
}

@media (min-width: 1000px) {
  .fixed-sidebar {
    position: fixed;
    width: 30%;
  }
}

@media (max-width: 999px) {
  .articles-wrapper {
    flex-basis: 100%;
  }

  .fixed-sidebar {
    position: static;

  }
}

.sidebar-wrapper h4 {
  margin-left: 10px;
}

.sidebar-wrapper ul {
  padding: 0 5px 0 20px;
  list-style-type: none;
}


input[type="search"] {
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px 15px 12px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="search"]:focus {
  width: 100%;
}

.archive,
.tags {
  background-color: #f2f2f2;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.archive,
.tags,
.search {
  margin-top: 20px;
  width: 100%;
}

.tag-list {
  margin: 0 0 10px 10px;
}

